{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jquery": true,
        "mongo": true,
        "meteor": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false
    },
    "rules": {
        "semi": 1,
        "indent": [
            "error",
            4
        ],
        "no-console": 0
    }
}
